nav {
    padding-right: 100px;
    padding-left: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 40px;

    
}

#test1 {
   left: 0;
}

#test2 {
    right: 0;
}
body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4D4D4D;
}


h2 {
    font-size: 46px ;
    color: white;
    text-align: left;
    
}

h3 {
    font-size: 36px;
    color: white;
    text-align: left;
}

h4 {
    font-size: 38px;
    font-size: bold;
}


}
p {
    font-size: 20px;

}


#header {
    min-height: 1000px;
    background-image: url("background.png");
    background-position: left;
    background-size: cover;
}

#text-header {
    max-width: 800px;
    padding-left: 250px;
    padding-top: 350px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;


}


.paragraph {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;



    padding: 30px;
    margin: 100px;
}

.image {
    max-height: 70%;
}


footer {
    height: 150px;
    background-color: #4D4D4D;
    color:white;
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

