
nav {
    
    width: 90%;
    padding-right: 100px;
    padding-left: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 40px;
}

#test1 {
   left: 0;
}

#test2 {
    background-color: brown;

}
body {
    margin: 0px;
    font-family: 'Dosis', sans-serif;
    color: #4D4D4D;
}


h2 {
    font-size: 38px ;
    color: white;

    
}

h3 {
    font-size: 30px;
    color: white;

}

h4 {
    font-size: 38px;
    font-size: bold;
}

p {
    font-size: 20px;

}


#header {
    height: 700px;
    background-image: url("background.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-header {
    text-align: center;
    width: 500px;
    margin-left: 150px;


    text-align: center;
    
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
}


.paragraph {
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;



    padding: 30px;
    margin: 100px;
}

.image {
    width: 150px;
}


footer {
    height: 150px;
    background-color: #4D4D4D;
    color:white;
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

